.parallax#testimonials
    .sesgado-right
    .ed-container.fullscreen.cross-center.main-center
        .ed-item.s-20.l-20.cross-center.main-center
            .arrow.arrow__left
        .ed-item.s-60
            img(src="public/images/avatar.jpg").client__avatar
            p.text-center  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure perspiciatis, tempora incidunt repudiandae qui ipsa, saepe temporibus mollitia molestias dicta voluptates quae explicabo sint obcaecati repellat repellendus delectus debitis consequuntur.
        .ed-item.s-20.l-10.cross-center.main-center
            .arrow.arrow__right
    .sesgado-left