.ed-container.s-100.m-90
    .ed-item.logo.l-20.s-50.m-20
        img(src="public/images/logo.png")

    .ed-item.l-80.m-80.s-50.cross-center.main-end
        nav.navbar
            .nav-toggle.hide-l
            ul.nav.show-l
                li.nav__item.active: a(href="#") Home
                li.nav__item: a(href="#") About
                li.nav__item: a(href="#") Services
                li.nav__item: a(href="#") Contact

.banner-zone.parallax
    .ed-container.fullscreen.s-100.m-90
        .ed-item.cross-center.main-center
            button(type="button").button.btn-default Get Started