ul.services.ed-item.main-center
    li.services__item.cross-center.main-center
        .service__item__name
            span.fa.fa-ship
            p.text-center Marine Transport
    li.services__item.cross-center.main-center
        .service__item__name
            span.fa.fa-plane
            p.text-center Air Transport
    li.services__item.cross-center.main-center
        .service__item__name
            span.fa.fa-truck
            p.text-center Ground Transport
    li.services__item.cross-center.main-center
        .service__item__archive
            span.fa.fa-ship
            p.text-center Storage
    li.services__item.cross-center.main-center
        .service__item__name
            span.fa.fa-check-square-o
            p.text-center Customs
